.about-section {
    position: relative;
    background: var(--color-text); /* fondo diferenciado */
    color: var(--color-text);
    padding: 5rem 6rem;
    overflow: hidden;
    border-radius: 20% 0% 0% 0%  ;
    margin-top: -10rem;
  }
  

  /* Contenido interno */
  .about-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .about-text {
    flex: 1;
    
    
  }
  .about-video {
    flex: 1;
    
  }
  
  .about-video .video-wrapper {
    aspect-ratio: 16 / 9;
    width: 100%;
    /* Asegura caja visible */
    display: block;
  }
  
  .about-video .video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 22px 0px 22px 0px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  }
  

  
  .about-text h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.5rem;
    color: var(--color-marron-dark);
  }
  
  .about-text h3 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1rem;
    color: var(--color-marron);
  }
  
  .about-text p {
    font-size: var(--font-size-md);
    color: var(--color-marron);
    line-height: 1.6;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .about-section{
        border-radius: 0% 0% 0% 0%  ;
        margin-top: 0;
    }
    .about-inner {
      flex-direction: column;
      text-align: left;
    }
    .about-video {
      width: 100%;
    }
  }
  