<footer class="footer" id="contacto">
    <div class="container footer-inner">
      <!-- Título -->
      <h2 class="footer-title">Entra en contacto</h2>

  
      <!-- Texto introductorio -->
      <p class="footer-text">
        Comunícate con nosotros para despejar cualquier duda, consulta o proyecto. <br>
        Estaremos encantados de acercarte una solución y propuesta.
      </p>
  
      <!-- Botones de contacto -->
      <div class="footer-buttons">
        <a href="https://wa.me/34123456789" target="_blank" class="btn btn-primary">
          <i class="fab fa-whatsapp"></i> Escríbenos por WhatsApp
        </a>
        <a href="mailto:info@areabonita.com" class="btn btn-primary">
          <i class="fas fa-envelope"></i> Envíanos un correo
        </a>
      </div>
  
      <!-- Línea + Instagram -->
      <div class="footer-social">
        <hr>
        <a href="https://instagram.com/tuusuario" target="_blank" class="footer-instagram">
          <i class="fab fa-instagram"></i>malanas
        </a>
      </div>
    </div>
  
    <!-- Derechos reservados -->
    <div class="footer-bottom">
      <p>&copy;Area Bonita. Todos los derechos reservados.</p>
    </div>
  </footer>
  